@font-face {
  font-family: 'Inter-Regular';
  src: url('/static/font/Inter_1.ttf') format('truetype');
}
@font-face {
  font-family: 'Kapakana-Regular';
  src: url('/static/font/Kapakana_wght__1.ttf') format('truetype');
}

.Pixso-rectangle-25_2 {
  background-image: url('/static/image/4bd20638016dd4ec2516a186b9e5d67c7b2370d7.png');
}
.Pixso-rectangle-25_2 {
  background-image: url('/static/image/8d900af85a3ed460400cc82f9bfde04c029e7ed1.png');
}
.Pixso-rectangle-25_2 {
  background-image: url('/static/image/5bc405ae4e6410a424f5716018a709e3ae2a4a18.png');
}
.Pixso-rectangle-25_2 {
  background-image: url('/static/image/9956c8dd6df6101cd3fe4cda3fa40b3cd4fefc7d.png');
}
.Pixso-rectangle-25_2 {
  background-image: url('/static/image/29824a1d577619c17f35a083b64052d5470b746c.png');
}
.Pixso-rectangle-25_2 {
  background-image: url('/static/image/bdf9d23f7230a55559c910f845ae3a8af3c5041c.png');
}
.Pixso-rectangle-25_2 {
  background-image: url('/static/image/be88ae1e69bc142c1f93b625cf265d5d05d239fa.png');
}
.Pixso-rectangle-25_2 {
  background-image: url('/static/image/e624fd7bf24ca84e28a808898eaea5ef7b0f50b7.png');
}
.Pixso-rectangle-25_2 {
  background-image: url('/static/image/Vector_3_7.png');
}
.Pixso-rectangle-25_2 {
  background-image: url('/static/image/Vector_3_13.png');
}
.Pixso-rectangle-25_2 {
  background-image: url('/static/image/Vector_3_25.png');
}